{% extends 'base.html' %}
{% load static %}

{% block title %}Orígenes - HubLab{% endblock %}

{% block content %}
  <div class=" row form-login" style="  margin-left: -15px; margin-top: -20px; margin-right: -15px; margin-bottom: 0px;padding: 0px;">
        
        <div class="col-12">
        <div class="mb-3">
            <h1>Planta Piloto de producción de lácteos</h1>

            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'uexperimentales' %}">HUBLAB</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'uexperimentales' %}">Centro experimental San Francisco</a></li>
                </ol>
            </nav>
        </div>
    </div>
  </div>

    

<div class=" row form-login" style="  margin-left: -15px; margin-top: -20px; margin-right: -15px; margin-bottom: 20px; padding: 0px;">

  <div class="col-12 col-md-12 col-lg-9 col-xl-9 ">
    <div class="card mb-2 ">

      <div class="card-body" style="padding: 0.5rem;">

        <div class="card mb-1 " style="padding: 5px;">
          <div
            class="card-headers glide gallery glide--ltr glide--carousel glide--swipeable">
            <ul class="nav" role="tablist" id="modulo-tabs">
              <li class="nav-item">
                <a class="nav-link btn btn-primary default btn-block " id="first-tab" data-toggle="tab"
                  href="javascript:void(0);" data-modulo="inicio" role="tab"
                  aria-controls="first" aria-selected="true"><i
                    class="iconsminds-home large-icon1 initial-height "></i>Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary default active " id="second-tab" data-toggle="tab"
                  href="javascript:void(0);" data-modulo="recursosAprendizaje" role="tab"
                  aria-controls="second" aria-selected="false"><i
                    class="iconsminds-gear large-icon1 initial-height"></i>Recursos de Aprendizaje y Práctica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary default btn-block" id="third-tab" data-toggle="tab"
                  href="javascript:void(0);" data-modulo="investigacion" role="tab"
                  aria-controls="third" aria-selected="false"><i
                    class="iconsminds-optimization large-icon1 initial-height"></i>Investigación, Innovación y Desarrollo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary default btn-block" id="four-tab" data-toggle="tab"
                  href="javascript:void(0);" data-modulo="servicios" role="tab"
                  aria-controls="four" aria-selected="false"><i
                    class="iconsminds-conference large-icon1 initial-height"></i>Servicios y Soporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary default btn-block" id="five-tab" data-toggle="tab"
                  href="javascript:void(0);" data-modulo="colaboracion" role="tab"
                  aria-controls="five" aria-selected="false"><i
                    class="iconsminds-conference large-icon1 initial-height"></i>Contacto</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-content card mb-2 ">
  <!-- Tab content area -->
  <div id="dynamic-content" class="tab-content card mb-2" style="height:630px; min-height:630px; max-height:630px; overflow:auto;">
    <!-- Contenido inicial -->
    <div class="content-section" data-view="simuladores">
      <iframe id="dynamic-iframe" width="100%" height="630" src="{% static 'img/360/lacteos1/index.html' %}" style="border:none;"></iframe>
    </div>
  </div>

  <!-- Incluye PDF.js desde CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
<script>
function replaceContent(url, fileName) {
  const contentContainer = document.getElementById('dynamic-content');
  const fileExtension = fileName.split('.').pop().toLowerCase();
  contentContainer.innerHTML = '';

  if (['zip'].includes(fileExtension)) {
    // Construye la ruta al index.html descomprimido
    const folder = fileName.replace('.zip', '');
    const indexUrl = `/media/recursos/archivos/${folder}/index.html`;
    const iframe = document.createElement('iframe');
    iframe.src = indexUrl;
    iframe.style.width = '100%';
    iframe.style.height = '630px';
    iframe.style.border = 'none';
    contentContainer.appendChild(iframe);
  } else if (['html'].includes(fileExtension)) {
    // Instancia el iframe para archivos HTML directos
    const iframe = document.createElement('iframe');
    iframe.src = url;
    iframe.style.width = '100%';
    iframe.style.height = '630px';
    iframe.style.border = 'none';
    contentContainer.appendChild(iframe);
  } else if (['pdf'].includes(fileExtension)) {
    contentContainer.innerHTML = '<div id="pdf-viewer" style="height:630px; overflow:auto;"></div>';
    const pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';
    pdfjsLib.getDocument(url).promise.then(function(pdf) {
      pdf.getPage(1).then(function(page) {
        var scale = 1.5;
        var viewport = page.getViewport({scale: scale});
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        document.getElementById('pdf-viewer').appendChild(canvas);
        page.render({canvasContext: context, viewport: viewport});
      });
    });
  } else if (['png', 'jpg', 'jpeg', 'gif'].includes(fileExtension)) {
    const img = document.createElement('img');
    img.src = url;
    img.style.maxWidth = '100%';
    img.style.height = 'auto';
    contentContainer.appendChild(img);
  } else if (['mp4', 'avi', 'mov', 'mkv'].includes(fileExtension)) {
    const video = document.createElement('video');
    video.src = url;
    video.controls = true;
    video.style.maxWidth = '100%';
    video.style.height = '100%';
    contentContainer.appendChild(video);
  } else {
    contentContainer.innerHTML = '<p class="text-danger">El tipo de archivo no es soportado.</p>';
  }
}
</script>
          
        </div>
      </div>
    </div>
  </div>

<style>
    .form-login {
        background-color: #111b21;
        -webkit-box-shadow: 5px -5px 4px 5px rgba(12, 156, 242, 0.31), -5px 5px 4px 5px rgba(0, 250, 236, 0.31);
        box-shadow: 5px -5px 4px 5px rgba(12, 156, 242, 0.31), -5px 5px 4px 5px rgba(0, 250, 236, 0.31);
        border-radius: 1px;
        @media screen and (max-width: 960px) {
            width: 100%;
        }
}
    .form-login1 {
        background-color: #0s10e10;
        -webkit-box-shadow: 1px -1px 1px 1px rgba(12, 156, 242, 0.31), -1px 1px 1px 1px rgba(0, 250, 236, 0.31);
        box-shadow: 1px -1px 1px 1px rgba(12, 156, 242, 0.31), -2px 1px 1px 2px rgba(0, 250, 236, 0.31);
        border-radius: 1px;
        @media screen and (max-width: 960px) {
            width: 100%;
        }
}
</style>

  <!-- Contenedor 2-->
  <div class="col-12 col-md-12 col-lg-3 col-xl-3">

    <div class="cards mb-2 form-login1">
      <div class="card-body ">
        <h2 class="card-title ">CATEGORIAS</h2>
        <h3 class=" form-login1 iconsminds-home" style="padding: 5px;"> Recursos de Aprendizaje y Práctica</h3>
        <br>
        <div>
          <div id="accordion">
            {% for modulo in modulos %}
            <div class="modulo-carpeta-list" data-modulo="{{ modulo }}" style="{% if not forloop.first %}display:none;{% endif %}">
              {% for carpeta in proyecto.carpetas.all %}
                {% if carpeta.modulo == modulo %}
                <div>
                  <button class="btn btn-link collapsed btn btn-warning default btn-block mb-2"
                    style="text-align: left; font-size: 12px !important;"
                    data-toggle="collapse" data-target="#collapseCarpeta{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                    aria-expanded="false" aria-controls="collapseCarpeta{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                    <i class="simple-icon-login"></i>
                    <span class="d-inline-block" style="font-size: 15px; text-align: left;">{{ carpeta.nombre }}</span>
                  </button>
                  <div id="collapseCarpeta{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                    <div class="pb-1 mb-3 card" style="padding: 5px;">
                      <div class="card-headers glide gallery glide--ltr glide--carousel glide--swipeable">
                        <ul class="nav pb-1" role="tablist">
                          {% for recurso in carpeta.recursos.all %}
                          <li class="nav-item btn-block">
                            {% if recurso.archivo %}
                              {% if recurso.archivo.name|lower|slice:"-4:" == ".zip" %}
  {% with recurso.archivo.url|cut:".zip"|add:"/index.html" as index_url %}
    <a class="nav-link btn btn-light default"
      style="text-align: left; font-size: 12px !important; padding: 4px;"
      href="javascript:void(0);"
      onclick="replaceContent('{{ index_url }}', 'index.html')">
      <i class="iconsminds-folder"></i>
      {{ recurso.nombre }}
    </a>
  {% endwith %}
{% else %}
  <a class="nav-link btn btn-light default"
    style="text-align: left; font-size: 12px !important; padding: 4px;"
    href="javascript:void(0);"
    onclick="replaceContent('{{ recurso.archivo.url }}', '{{ recurso.archivo.name|lower }}')">
    <i class="iconsminds-folder"></i>
    {{ recurso.nombre }}
  </a>
{% endif %}
                            {% else %}
                            <span class="nav-link btn btn-light default text-muted"
                              style="text-align: left; font-size: 12px !important; padding: 4px;">
                              <i class="iconsminds-folder"></i>
                              {{ recurso.nombre }}
                            </span>
                            {% endif %}
                          </li>
                          {% empty %}
                          <li class="nav-item btn-block">
                            <span class="text-muted">No hay recursos disponibles</span>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% empty %}
                <p class="text-muted">No hay carpetas disponibles para este módulo.</p>
              {% endfor %}
            </div>
            {% empty %}
            <p class="text-muted">No hay módulos disponibles para este proyecto.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
<script>
  // Mostrar solo las carpetas del módulo seleccionado
  document.querySelectorAll('#modulo-tabs .nav-link').forEach(tab => {
    tab.addEventListener('click', function() {
      document.querySelectorAll('#modulo-tabs .nav-link').forEach(t => t.classList.remove('active'));
      this.classList.add('active');
      var modulo = this.getAttribute('data-modulo');
      document.querySelectorAll('.modulo-carpeta-list').forEach(list => {
        if (list.getAttribute('data-modulo') === modulo) {
          list.style.display = '';
        } else {
          list.style.display = 'none';
        }
      });
    });
  });
</script>
{% endblock %}