{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid disable-text-selection">
  <div class="row">
      <div class="col-12">

          <div class="mb-3">
              <h1>Áreas de Especialización</h1>


              <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                  <ol class="breadcrumb pt-0">
                      <li class="breadcrumb-item">
                          <a href="#">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="#">Library</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                  </ol>
              </nav>
          </div>

          <div class="separator mb-5"></div>
      </div>
  </div>

  <div class="mb-3">
    <img class="social-header card-img w-100" src="{% static 'img/cards/ue1.jpg' %}">
    <div class="position-relative top-50 start-50 translate-middle text-center" 
         style="background: rgba(0, 0, 0, 0.5); color: white; padding: 15px 30px; border-radius: 10px;">
        <h2 style="margin: 0;">Áreas de Especialización</h2>
    </div>
</div>


<div class="row mb-4">
    <div class="col-md-6 col-lg-12 col-12 mb-4">
        <div class="card">
            <div class="card-header" >
                <ul class="nav nav-tabs card-header-tabs nav-fill " role="tablist" >
                    <li class="nav-item">
                        <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first"
                            role="tab" aria-controls="first" aria-selected="true"><button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plane text-green-600"><path d="M17.8 19.2 16 11l3.5-3.5C21 6 21.5 4 21 3c-1-.5-3 0-4.5 1.5L13 8 4.8 6.2c-.5-.1-.9.1-1.1.5l-.3.5c-.2.5-.1 1 .3 1.3L9 12l-2 3H4l-1 1 3 2 2 3 1-1v-3l3-2 3.5 5.3c.3.4.8.5 1.3.3l.5-.2c.4-.3.6-.7.5-1.2z"></path></svg> Producción Agropecuaria Sostenible </button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="second-tab" data-toggle="tab" href="#second"
                            role="tab" aria-controls="second" aria-selected="false"><button type="button" class="btn btn-primary mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flask-round text-blue-600"><path d="M10 2v7.31"></path><path d="M14 9.3V1.99"></path><path d="M8.5 2h7"></path><path d="M14 9.3a6.5 6.5 0 1 1-4 0"></path><path d="M5.52 16h12.96"></path></svg> Procesamiento e Innovación de Alimentos  </button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                            role="tab" aria-controls="third" aria-selected="false"><button type="button" class="btn btn-primary mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-pulse text-red-600"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path><path d="M3.22 12H9.5l.5-1 2 4.5 2-7 1.5 3.5h5.27"></path></svg>Salud Animal y Diagnóstico Veterinario  </button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                            role="tab" aria-controls="third" aria-selected="false"><button type="button" class="btn btn-primary mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lightbulb text-yellow-600"><path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5"></path><path d="M9 18h6"></path><path d="M10 22h4"></path></svg> Educación Ambiental y Pedagógica  </button></a>
                            
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                            role="tab" aria-controls="third" aria-selected="false"><button type="button" class="btn btn-primary mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-compass text-orange-600"><circle cx="12" cy="12" r="10"></circle><polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon></svg> Turismo Rural y Agroturismo  </button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                            role="tab" aria-controls="third" aria-selected="false"><button type="button" class="btn btn-primary mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-leaf text-green-600"><path d="M11 20A7 7 0 0 1 9.8 6.1C15.5 5 17 4.48 19 2c1 2 2 4.18 2 8 0 5.5-4.78 10-10 10Z"></path><path d="M2 21c0-3 1.85-5.36 5.08-6C9.5 14.52 12 13 13 12"></path></svg> Conservación de Recursos Naturales </button></a>
                    </li>

                </ul>
            </div>

            <div class="separator mb-5"></div>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                        <div class="row mb-4">
                        <div class="col-md-6 col-lg-6 col-6 mb-4">
                        <h2 class="mb-4 text-primary">Producción Agropecuaria Sostenible</h2>
                        <p class="text-muted">El CESF promueve sistemas agrícolas y pecuarios sostenibles, amigables con el medio ambiente.</p>
                    
                        <ul class="list-group">
                            <li class="list-group-item d-flex align-items-start">
                                <i class="bi bi-tree-fill text-success mr-3" style="font-size: 1.5rem;"></i>
                                <div>
                                    <h5 class="mb-1 text-success">Ganadería de Altura</h5>
                                    <p class="mb-0 text-dark">
                                        Cría especializada de ganado bovino tanto para leche como para carne, así como la cría integrada de cuyes y ovejas. Estos sistemas optimizan el uso de los recursos locales y fortalecen la biodiversidad.
                                    </p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <i class="bi bi-tree-fill text-success mr-3" style="font-size: 1.5rem;"></i>
                                <div>
                                    <h5 class="mb-1 text-success">Manejo de Pastizales</h5>
                                    <p class="mb-0 text-dark">
                                        Se implementan técnicas avanzadas como la rotación de cultivos y el silvopastoreo, que mejoran la fertilidad del suelo, incrementan la productividad y protegen el ecosistema.
                                    </p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-start">
                                <i class="bi bi-tree-fill text-success mr-3" style="font-size: 1.5rem;"></i>
                                <div>
                                    <h5 class="mb-1 text-success">Buenas Prácticas Ganaderas</h5>
                                    <p class="mb-0 text-dark">
                                        El CESF fomenta prácticas responsables que incluyen el uso racional del agua, nutrición balanceada y manejo sanitario estricto, garantizando calidad y sostenibilidad.
                                    </p>
                                </div>
                            </li>
                        </ul>

                    </div>
                        <div class="col-md-6 col-lg-6 col-6 mb-4">
                            <img class="social-header card-img" src="{% static 'img/cards/upecsanfrancisco.jpg' %}" />
                        </div>
                    </div>
                    </div>



                    <div class="tab-pane fade" id="second" role="tabpanel"
                        aria-labelledby="second-tab">
                        <h6 class="mb-4">Wedding Cake with Flowers Macarons and Blueberries</h6>
                        <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>

                    </div>
                    <div class="tab-pane fade" id="third" role="tabpanel"
                        aria-labelledby="third-tab">
                        <h6 class="mb-4">Cheesecake with Chocolate Cookies and Cream Biscuits</h6>
                        <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




  <div class="tab-content">
    <div class="tab-pane show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <div class="row">
            <div class="col-12 mb-5">
                <img class="social-header card-img" src="{% static 'img/ott/innovation.png' %}" />
            </div>
            <div class="col-12 col-lg-5 col-xl-4 col-left">
                <a href="{% static 'img/ott/innovation.png' %}" class="lightbox">
                    <img alt="Profile" src="{% static 'img/ott/innovation.png' %}"
                        class="img-thumbnail card-img social-profile-img">
                </a>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="text-center pt-4">
                            <p class="list-item-heading pt-2">Sarah Cortney</p>
                        </div>
                        <p class="mb-3">
                            I’m a web developer. I spend my whole day, practically every day,
                            experimenting with HTML, CSS, and JavaScript; dabbling with Python and
                            Ruby; and inhaling a wide variety of potentially useless information
                            through a few hundred RSS feeds. I build websites that delight and
                            inform. I do it well.
                        </p>

                        <p class="text-muted text-small mb-2">Location</p>
                        <p class="mb-3">Nairobi, Kenya</p>

                        <p class="text-muted text-small mb-2">Responsibilities</p>
                        <p class="mb-3">
                            <a href="#">
                                <span
                                    class="badge badge-pill badge-outline-theme-2 mb-1">FRONTEND</span>
                            </a>
                            <a href="#">
                                <span
                                    class="badge badge-pill badge-outline-theme-2 mb-1">JAVASCRIPT</span>
                            </a>
                            <a href="#">
                                <span
                                    class="badge badge-pill badge-outline-theme-2 mb-1">SECURITY</span>
                            </a>
                            <a href="#">
                                <span
                                    class="badge badge-pill badge-outline-theme-2 mb-1">DESIGN</span>
                            </a>
                        </p>
                        <p class="text-muted text-small mb-2">Contact</p>
                        <div class="social-icons">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#"><i class="simple-icon-social-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="simple-icon-social-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="simple-icon-social-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 d-none d-lg-block">
                    <div class="card-body">
                        <h5 class="card-title"><span>Photos</span><a
                                class="btn-link float-right text-small pt-1" href="#">View All</a>
                        </h5>
                        <div class="row social-image-row gallery">
                            <div class="col-6">
                                <a href="img/products/marble-cake.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/marble-cake-thumb.jpg" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="img/products/parkin.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/parkin-thumb.jpg" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="img/products/fruitcake.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/fruitcake-thumb.jpg" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="img/products/tea-loaf.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/tea-loaf-thumb.jpg" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="img/products/napoleonshat.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/napoleonshat-thumb.jpg" />
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="img/products/magdalena.jpg">
                                    <img class="img-fluid border-radius"
                                        src="img/products/magdalena-thumb.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 d-none d-lg-block">
                    <div class="card-body">
                        <h5 class="card-title">Who to Follow</h5>

                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <a href="#">
                                <img src="img/profiles/l-2.jpg" alt="Philip Nelms"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 flex-fill">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Philip Nelms</p>
                                    <p class="text-muted mb-0 text-small">09.08.2019 - 12:45</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                            </div>
                        </div>

                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <a href="#">
                                <img src="img/profiles/l-4.jpg" alt="Mimi Carreira"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 flex-fill">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Mimi Carreira</p>
                                    <p class="text-muted mb-0 text-small">14.08.2019 - 10:10</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                            </div>
                        </div>

                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <a href="#">
                                <img src="img/profiles/l-3.jpg" alt="Brynn Bragg"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 flex-fill">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Brynn Bragg</p>
                                    <p class="text-muted mb-0 text-small">23.07.2019 - 16:10</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                            </div>
                        </div>

                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <a href="#">
                                <img src="img/profiles/l-7.jpg" alt="Rasheeda Vaquera"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 flex-fill">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Rasheeda Vaquera</p>
                                    <p class="text-muted mb-0 text-small">18.07.2019 - 12:00</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                            </div>
                        </div>

                        <div
                            class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <a href="#">
                                <img src="img/profiles/l-8.jpg" alt="Mayra Sibley"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3 flex-fill">
                                <a href="#">
                                    <p class="font-weight-medium mb-0">Esperanza Lodge</p>
                                    <p class="text-muted mb-0 text-small">13.07.2019 - 13:00</p>
                                </a>
                            </div>
                            <div>
                                <a class="btn btn-outline-primary btn-xs" href="#">FOLLOW</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4 d-none d-lg-block">
                    <div class="position-absolute card-top-buttons">
                        <button class="btn btn-header-light icon-button">
                            <i class="simple-icon-refresh"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Recent Posts</h5>
                        <div>
                            <div class="d-flex flex-row mb-3">
                                <a class="d-block position-relative" href="#">
                                    <img src="img/products/marble-cake-thumb.jpg" alt="Marble Cake"
                                        class="list-thumbnail border-0" />
                                    <span
                                        class="badge badge-pill badge-theme-2 position-absolute badge-top-right">NEW</span>
                                </a>
                                <div class="pl-3 pt-2 pr-2 pb-2">
                                    <a href="#">
                                        <p class="list-item-heading">Progressively Maintain
                                            Extensive Infomediaries</p>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex flex-row mb-3">
                                <a class="d-block position-relative" href="#">
                                    <img src="img/products/fruitcake-thumb.jpg" alt="Fruitcake"
                                        class="list-thumbnail border-0" />
                                </a>
                                <div class="pl-3 pt-2 pr-2 pb-2">
                                    <a href="#">
                                        <p class="list-item-heading">Assertively Iterate Resource
                                            Maximizing</p>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex flex-row mb-3">
                                <a class="d-block position-relative" href="#">
                                    <img src="img/products/chocolate-cake-thumb.jpg" alt="Chocolate Cake"
                                        class="list-thumbnail border-0" />
                                </a>
                                <div class="pl-3 pt-2 pr-2 pb-2">
                                    <a href="#">
                                        <p class="list-item-heading">Podcasting Operational Change
                                        </p>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex flex-row">
                                <a class="d-block position-relative" href="#">
                                    <img src="img/products/fat-rascal-thumb.jpg" alt="Fat Rascal"
                                        class="list-thumbnail border-0" />
                                </a>
                                <div class="pl-3 pt-2 pr-2 pb-2">
                                    <a href="#">
                                        <p class="list-item-heading">Manufactured Products</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-7 col-xl-8 col-right">
                <div class="card mb-4">
                    <div class="card-body">

                        <p>
                            Keeping your eye on the ball while
                            performing a deep dive on the start-up mentality.
                        </p>

                        <div class="position-relative mb-3">
                            <video id="my-video" class="video-js card-img video-content" controls
                                preload="auto" poster="img/video/subpage-video-poster.jpg"
                                data-setup="{}">
                                <source
                                    src="http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4"
                                    type='video/mp4'>
                            </video>
                        </div>
 
                        <div class="mt-5">

                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-row mb-3">
                            <a href="#">
                                <img src="img/profiles/l-1.jpg" alt="Mayra Sibley"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <p>
                            Podcasting operational change management inside of workflows to
                            establish a framework. Taking seamless key performance indicators
                            offline to maximise the long tail. Keeping your eye on the ball while
                            performing a deep dive on the start-up mentality.
                        </p>
                        <a href="img/details/5.jpg" class="lightbox">
                            <img class="img-fluid border-0 border-radius mb-3"
                                src="img/details/5.jpg" />
                        </a>
                        <div>
                            <div class="post-icon mr-3 d-inline-block"><a href="#"><i
                                        class="simple-icon-heart mr-1"></i></a> <span>211
                                    Likes</span></div>
                            <div class="post-icon d-inline-block"><i
                                    class="simple-icon-bubble mr-1"></i> <span>2
                                    Comments</span></div>
                        </div>

                        <div class="mt-5">
                            <div class="d-flex flex-row mb-3 border-bottom justify-content-between">
                                <a href="#">
                                    <img src="img/profiles/l-7.jpg" alt="Mayra Sibley"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                </a>
                                <div class="pl-3 flex-grow-1">
                                    <a href="#">
                                        <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                        <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                    </a>
                                    <p class="mt-3">
                                        Taking seamless key performance indicators
                                        offline to maximise the long tail.
                                    </p>
                                </div>
                                <div class="comment-likes">
                                    <span class="post-icon"><a href="#"><span>4 Likes</span> <i
                                                class="simple-icon-heart ml-2"></i></a></span>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-4 justify-content-between">
                                <a href="#">
                                    <img src="img/profiles/l-5.jpg" alt="Mimi Carreira"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                </a>
                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-0 ">Mimi Carreira</p>
                                        <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                    </a>
                                    <p class="mt-3">
                                        Mass incarceration, preliminary thinking systems thinking
                                        vibrant thought leadership corporate social responsibility.
                                        Green space global, policymaker; shared value disrupt
                                        segmentation social capital.
                                    </p>
                                </div>
                                <div class="comment-likes">
                                    <span class="post-icon"><a href="#"><span>2 Likes</span> <i
                                                class="simple-icon-heart ml-2"></i></a></span>
                                </div>
                            </div>

                            <div class="comment-contaiener">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        placeholder="Add a comment">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button"><span
                                                class="d-inline-block">Send</span> <i
                                                class="simple-icon-arrow-right ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-row mb-3">
                            <a href="#">
                                <img src="img/profiles/l-1.jpg" alt="Mayra Sibley"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <p>
                            Podcasting operational change management inside of workflows to
                            establish a framework. Taking seamless key performance indicators
                            offline to maximise the long tail. Keeping your eye on the ball while
                            performing a deep dive on the start-up mentality.
                        </p>
                        <div>
                            <div class="post-icon mr-3 d-inline-block"><a href="#"><i
                                        class="simple-icon-heart mr-1"></i></a> <span>211
                                    Likes</span></div>
                            <div class="post-icon d-inline-block"><i
                                    class="simple-icon-bubble mr-1"></i> <span>2
                                    Comments</span></div>
                        </div>

                        <div class="mt-5">
                            <div class="comment-contaiener">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        placeholder="Add a comment">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button"><span
                                                class="d-inline-block">Send</span> <i
                                                class="simple-icon-arrow-right ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-row mb-3">
                            <a href="#">
                                <img src="img/profiles/l-1.jpg" alt="Mayra Sibley"
                                    class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                            </a>
                            <div class="pl-3">
                                <a href="#">
                                    <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                    <p class="text-muted mb-0 text-small">09.08.2018 - 12:45</p>
                                </a>
                            </div>
                        </div>
                        <p>
                            Podcasting operational change management inside of workflows to
                            establish a framework. Taking seamless key performance indicators
                            offline to maximise the long tail. Keeping your eye on the ball while
                            performing a deep dive on the start-up mentality.
                        </p>
                        <a href="img/details/1.jpg" class="lightbox">
                            <img class="img-fluid border-0 border-radius mb-3"
                                src="img/details/1.jpg" />
                        </a>
                        <div>
                            <div class="post-icon mr-3 d-inline-block"><a href="#"><i
                                        class="simple-icon-heart mr-1"></i></a> <span>211
                                    Likes</span></div>
                            <div class="post-icon d-inline-block"><i
                                    class="simple-icon-bubble mr-1"></i> <span>2
                                    Comments</span></div>
                        </div>

                        <div class="mt-5">
                            <div class="d-flex flex-row mb-3 justify-content-between">
                                <a href="#">
                                    <img src="img/profiles/l-7.jpg" alt="Mayra Sibley"
                                        class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
                                </a>
                                <div class="pl-3 flex-grow-1">
                                    <a href="#">
                                        <p class="font-weight-medium mb-0 ">Mayra Sibley</p>
                                        <p class="text-muted mb-0 text-small">Two Days Ago</p>
                                    </a>
                                    <p class="mt-3">
                                        Taking seamless key performance indicators
                                        offline to maximise the long tail.
                                    </p>
                                </div>
                                <div class="comment-likes">
                                    <span class="post-icon"><a href="#"><span>4 Likes</span> <i
                                                class="simple-icon-heart ml-2"></i></a></span>
                                </div>
                            </div>

                            <div class="comment-contaiener">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                        placeholder="Add a comment">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button"><span
                                                class="d-inline-block">Send</span> <i
                                                class="simple-icon-arrow-right ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-4">25 July 2019</h5>
            </div>
        </div>
        <div class="row gallery gallery-page mb-5">
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/marble-cake.jpg">
                    <img class="img-fluid border-radius" src="img/products/marble-cake-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/parkin.jpg">
                    <img class="img-fluid border-radius" src="img/products/parkin-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/fruitcake.jpg">
                    <img class="img-fluid border-radius" src="img/products/fruitcake-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/tea-loaf.jpg">
                    <img class="img-fluid border-radius" src="img/products/tea-loaf-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/napoleonshat.jpg">
                    <img class="img-fluid border-radius" src="img/products/napoleonshat-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/magdalena.jpg">
                    <img class="img-fluid border-radius" src="img/products/magdalena-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/marble-cake.jpg">
                    <img class="img-fluid border-radius" src="img/products/marble-cake.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/parkin.jpg">
                    <img class="img-fluid border-radius" src="img/products/parkin.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/fruitcake.jpg">
                    <img class="img-fluid border-radius" src="img/products/fruitcake.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/tea-loaf.jpg">
                    <img class="img-fluid border-radius" src="img/products/tea-loaf.jpg" />
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5 class="mb-4">14 April 2019</h5>
            </div>
        </div>
        <div class="row gallery gallery-page mb-5">

            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/magdalena.jpg">
                    <img class="img-fluid border-radius" src="img/products/magdalena-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/napoleonshat.jpg">
                    <img class="img-fluid border-radius" src="img/products/napoleonshat-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/tea-loaf.jpg">
                    <img class="img-fluid border-radius" src="img/products/tea-loaf-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/fruitcake.jpg">
                    <img class="img-fluid border-radius" src="img/products/fruitcake-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/parkin.jpg">
                    <img class="img-fluid border-radius" src="img/products/parkin-thumb.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-2 col-md-4">
                <a href="img/products/marble-cake.jpg">
                    <img class="img-fluid border-radius" src="img/products/marble-cake-thumb.jpg" />
                </a>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h5 class="mb-4">05 March 2019</h5>
            </div>
        </div>
        <div class="row gallery gallery-page mb-5">
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/parkin.jpg">
                    <img class="img-fluid border-radius" src="img/products/parkin.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/fruitcake.jpg">
                    <img class="img-fluid border-radius" src="img/products/fruitcake.jpg" />
                </a>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <a href="img/products/tea-loaf.jpg">
                    <img class="img-fluid border-radius" src="img/products/tea-loaf.jpg" />
                </a>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-8.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Latarsha Gama</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Head Developer</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-2.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Kathryn Mengel</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Art Director</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-3.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Laree Munsch</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Lead Programmer</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-4.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Esperanza Lodge</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Director</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-5.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Mimi Carreira</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Photographer</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-6.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Rasheeda Vaquera</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Account</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-7.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Executive Director</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-8.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Kathryn Mengel</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Chief Designer</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-9.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Philip Nelms</p>
                                </a>
                                <p class="mb-2 text-muted text-small">...</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card d-flex flex-row mb-4">
                    <a class="d-flex" href="#">
                        <img alt="Profile" src="img/profiles/l-10.jpg"
                            class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
                    </a>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="#">
                                    <p class="list-item-heading mb-1 truncate">Velva Valdovinos</p>
                                </a>
                                <p class="mb-2 text-muted text-small">Developer</p>
                                <button type="button"
                                    class="btn btn-xs btn-outline-primary ">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}