{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container-fluid disable-text-selection">
    <div class="row ">
        <div class="col-12">
        <div class="mb-3">
            <h1>Sobre el Centro Experimental</h1>

            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'uexperimentales' %}">Unidades Experimentales</a>
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">Centro Experimental San Francisco</li>
                </ol>
            </nav>
        </div>
    </div>

        <div class="col-12 survey-app text-center  ">

            <div class="position-relative mb-4">
                <!-- Imagen de fondo -->
                <img src="{% static 'img/cards/ue1.jpg' %}" alt="Industria 4.0" class="background-image">
            
                <!-- Contenedor del contenido -->
                <div class="overlay-content mb-3">
                    <!-- Texto informativo -->
                    <div class="left-content  mb-3">
                        <h1>CENTRO EXPERIMENTAL SAN FRANCISCO</h1>
                        <p><br>
                            Son unidades de apoyo que brindan soporte tecnológico para la investigación, desarrollo e innovación; disponen de talento humano, infraestructura, equipamiento especializado y presupuesto. Estan conformadas por los laboratorios de investigación, así como por los centros experimentales.
                            </p>
                        <small>Espacios innovadores para el desarrollo de proyectos, investigación aplicada y formación práctica en el sector industrial.</small>

                    </div>
            
                    <!-- Contenedores futuristas -->

                    </div>
                </div>
            </div>
            
            <style>
                /* Contenedor principal */
                .position-relative {
                    position: relative;
                    width: 100%;
                }
            
                /* Imagen de fondo */
                .background-image {
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                    display: block;
                }
            
                /* Overlay con fondo semi-transparente */
                .overlay-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem;
                    color: white;
                    background: rgba(0, 0, 0, 0.5); /* Efecto oscuro */
                }
            
                /* Contenido informativo a la izquierda */
                .left-content {
                    max-width: 40%;
                }
            
                /* Contenedor principal a la derecha */
                .right-content {
                    max-width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                /* Diseño adaptable */
                @media (max-width: 768px) {
                    .overlay-content {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
            
                    .left-content, .right-content {
                        max-width: 90%;
                    }
            
                    .info-container {
                        flex-direction: column;
                    }
                }
            </style>
            
 
            <!-- Tablas laboratorios -->
            
            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist"></ul>
        </div>
    </div>

   
    <div class="tab-content active">
         <div class="player" data-plyr-provider="youtube" data-plyr-embed-id="qyjwyQXVY1g"></div>
     </div>



     <div class="row">
        <!-- Columna de texto -->
        <div class="col-12 col-md-12 col-xl-6">
            <div class="card mb-4">
                <div class="card-body" style="height: 320px;">
                    <h2 class="card-titles mb-4">¿Qué es el Centro Experimental San Francisco?</h2>
                    <p>El Centro Experimental San Francisco (CESF) es mucho más que una finca pedagógica; es un entorno único e innovador de aprendizaje activo, investigación científica aplicada y compromiso social, administrado cuidadosamente por la Escuela de Desarrollo Integral Agropecuario (EDIA) de la Universidad Politécnica Estatal del Carchi (UPEC).</p>
                    <p>Con una extensión privilegiada de 45 hectáreas, el CESF actúa como un auténtico laboratorio vivo, donde estudiantes de diversas disciplinas —Ingeniería Agropecuaria, Ingeniería en Alimentos, Turismo y Ciencias Ambientales, entre otras— encuentran la oportunidad invaluable de aplicar sus conocimientos en escenarios reales y situaciones concretas.</p>
                </div>
            </div>
        </div>
    
        <!-- Columna de imagen -->
        <div class="col-12 col-md-12 col-xl-6">
            <div class="card mb-4">
            <div class="card-bodys" style="height: 320px;">
                <img src="{% static 'img/cards/upecsanfrancisco.jpg' %}" alt="Centro Experimental San Francisco" class="responsive border-0 card-img-top mb-3 " style="object-fit: cover; border-radius: 10px; height: 100%;">
            </div>
        </div>
        </div>
    </div>

    <!-- Categoria laboratorios -->

    <div class="tab-content mb-4">

            <div class="row">
                <div class="col-lg-12 col-6 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first" aria-selected="true">NUESTRA MISIÓN</a>
                                </li>
                            </ul>
                            <p class="mb-3">
                                Formamos profesionales líderes, éticos y altamente capacitados mediante un modelo de aprendizaje experiencial, investigación aplicada de alto impacto y una firme dedicación a la sostenibilidad agropecuaria, alimentaria, agroindustrial, turística y ambiental.
                            </p>
                        </div>
                        <img class="card-img" src="{% static 'img/cards/upecsanfrancisco1.png' %}" alt="Card image">
                    </div>
                </div>

                <div class="col-lg-12 col-6 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first" aria-selected="true">NUESTRA VISIÓN</a>
                                </li>
                            </ul>
                            <p class="mb-3">
                                Nuestra aspiración es convertir al CESF en un centro referente, reconocido a nivel nacional e internacional por su excelencia en educación agropecuaria sostenible, su destacada innovación en alimentos y su liderazgo en turismo educativo rural.
                            </p>

                        </div>
                        <img class="card-img" src="{% static 'img/cards/ue.jpg' %}" alt="Card image">
                    </div>
                </div>

                <div class="col-lg-12 col-6 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first" aria-selected="true">Ubicación y Territorio</a>
                                </li>
                            </ul>
                            <p class="mb-3">
                                Ubicado estratégicamente a una altitud de 2.959 metros sobre el nivel del mar, el CESF disfruta de un clima frío andino, con temperaturas que oscilan entre 3°C y 18°C.
                                <br>
                                • 37 hectáreas de potreros
                                • 4 hectáreas agrícolas experimentales
                                • 0.5 hectáreas de frutales
                                • Zonas de conservación forestal e hídrica                                
                                <br>
                            </p>

                        </div>
                        <img class="card-img" src="{% static 'img/cards/ue1.jpg' %}" alt="Card image">
                    </div>
                </div>
                <div class="col-lg-12 col-6 mb-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first" aria-selected="true">Historia y Equipo Técnico</a>
                                </li>
                            </ul>
                            <p class="mb-3">
                                Fundado en el año 2009 como parte fundamental del proyecto educativo de la EDIA-UPEC, el CESF ha experimentado un crecimiento continuo en infraestructura, recursos tecnológicos, proyectos de investigación e impacto comunitario.

                                Equipo técnico:
                                <br>
                                • Director: Ing. Andrés Villarreal Estrada
                                • 3 Ingenieros Agropecuarios
                                • 1 Veterinario clínico
                                • 2 Tecnólogos en Alimentos                                

                            </p>

                        </div>
                        <img class="card-img" src="{% static 'img/cards/OTT3.jpg' %}" alt="Card image">
                    </div>
                </div>

            </div>
     
    </div>







    
</div>

{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}