{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <title>Portal CITT</title>
</head>
<body>
    <div style="width: 1512px; height: 982px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        
        <div style="align-self: stretch; flex: 1 1 0; background: #0E1418; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="align-self: stretch; padding: 8px; background: #121A1F; justify-content: flex-start; align-items: center; gap: 127px; display: inline-flex">
            <div style="width: 25px; height: 25px; position: relative">
              <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
              <div style="width: 18.75px; height: 14.58px; left: 3.12px; top: 5.21px; position: absolute; background: #CECECE"></div>
            </div>
            <div style="flex: 1 1 0; height: 33px; justify-content: space-between; align-items: center; display: flex">
              <div style="justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="color: #27929E; font-size: 22px; font-family: Montserrat; font-weight: 900; line-height: 33px; word-wrap: break-word">CITT</div>
              </div>
              <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                <div style="width: 54px; height: 30px; padding: 3px; background: #27929E; border-radius: 24px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                  <div style="width: 30px; height: 30px; position: relative; border-radius: 99px; border: 2px #CECECE solid"></div>
                  <div style="width: 18px; height: 18px; position: relative">
                    <div style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                    <div style="width: 6.30px; height: 6.30px; left: 11.70px; top: 0px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="width: 30px; height: 30px; position: relative">
                  <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; background: #E6E6E6"></div>
                  <div style="width: 25px; height: 25px; left: 2.50px; top: 2.50px; position: absolute; background: #CECECE"></div>
                </div>
              </div>
            </div>
          </div>
          <div style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="align-self: stretch; padding: 16px; background: #121A1F; border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <div style="align-self: stretch; height: 26px; padding-top: 4px; padding-bottom: 4px; flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: flex">
                <div style="align-self: stretch; color: #27929E; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Explorar</div>
                <div style="align-self: stretch; height: 0px; border: 1px #27929E solid"></div>
              </div>
              <div style="height: 308px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="height: 20px; justify-content: center; align-items: center; gap: 10px; display: flex">
                      <div style="width: 20px; height: 20px; position: relative">
                        <div style="width: 4.44px; height: 5.92px; left: 5.03px; top: 7.16px; position: absolute; background: #CECECE"></div>
                        <div style="width: 4.47px; height: 5.92px; left: 10.53px; top: 7.16px; position: absolute; background: #CECECE"></div>
                        <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">OTT</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="height: 20px; justify-content: center; align-items: center; gap: 10px; display: flex">
                      <div style="width: 17.94px; height: 20px; position: relative">
                        <div style="width: 17.94px; height: 20px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Incubadora</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="width: 26px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="width: 18.65px; height: 20px; position: relative">
                        <div style="width: 18.65px; height: 20px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Unidades<br/>Experimentales</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="width: 26px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="width: 20px; height: 20px; position: relative">
                        <div style="width: 20px; height: 19.17px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">HubLab</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="width: 26px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="width: 15.56px; height: 20px; position: relative">
                        <div style="width: 15.56px; height: 20px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Investigación</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
                <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; padding-right: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                  <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
                    <div style="width: 26px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <div style="width: 22.34px; height: 20px; position: relative">
                        <div style="width: 22.34px; height: 14.52px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                        <div style="width: 13.21px; height: 7.71px; left: 4.56px; top: 12.29px; position: absolute; background: #CECECE"></div>
                      </div>
                    </div>
                    <div style="justify-content: center; align-items: center; display: flex">
                      <div style="color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Formación</div>
                    </div>
                  </div>
                  <div style="width: 10px; height: 10px; position: relative">
                    <div style="width: 9px; height: 5.25px; left: 0.50px; top: 2.38px; position: absolute; background: #CECECE"></div>
                  </div>
                </div>
              </div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
              <div style="align-self: stretch; height: 977px; background: #121A1F; border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: center; gap: 48px; display: flex">
                <div style="align-self: stretch; height: 48px; padding: 16px; background: #202E37; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: flex">
                  <div style="align-self: stretch; color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Inicio</div>
                </div>
                <div style="align-self: stretch; height: 673px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 48px; display: flex">
                  <div style="align-self: stretch; height: 110px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
                    <div style="align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
                      <div style="flex: 1 1 0; text-align: center; color: #27929E; font-size: 24px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">CENTRO DE INNVACIÓN Y TRANSFORMACIÓN TECNOLÓGICA</div>
                    </div>
                    <div style="align-self: stretch; height: 57px; flex-direction: column; justify-content: center; align-items: center; display: flex">
                      <div style="align-self: stretch; text-align: center; color: #9C9C9C; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Este portal ha sido diseñado para centralizar toda la información relacionada con los recursos innovadores y académicos de la Universidad Politécnica Estatal del Carchi. Aquí podrá conocer los laboratorios, clubes estudiantiles y la incubadora de proyectos que impulsan el espíritu emprendedor, la investigación y el desarrollo de nuevos conocimientos.</div>
                    </div>
                  </div>
                  <div style="align-self: stretch; height: 515px; padding-bottom: 48px; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
                    <div style="align-self: stretch; height: 37px; padding-left: 16px; padding-right: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
                      <div style="align-self: stretch; text-align: center; color: #9C9C9C; font-size: 18px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Explorar secciones</div>
                      <div style="align-self: stretch; height: 0px; border: 2px #9C9C9C solid"></div>
                    </div>
                    <div style="align-self: stretch; padding-top: 48px; padding-bottom: 48px; background: #27929E; justify-content: center; align-items: flex-start; gap: 48px; display: inline-flex">
                      <div style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50); border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <img style="width: 250px; height: 250px; padding: 10px" src="https://via.placeholder.com/250x250" />
                        <div style="align-self: stretch; height: 60px; padding: 10px; background: #202E37; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                          <div style="width: 23.33px; height: 30px; position: relative">
                            <div style="width: 23.33px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                          </div>
                          <div style="text-align: center; color: #CECECE; font-size: 16px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Laboratorios</div>
                        </div>
                      </div>
                      <div style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50); border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <img style="width: 250px; height: 250px; padding: 10px" src="https://via.placeholder.com/250x250" />
                        <div style="align-self: stretch; height: 60px; padding: 10px; background: #202E37; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                          <div style="width: 26.92px; height: 30px; position: relative">
                            <div style="width: 26.92px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                          </div>
                          <div style="text-align: center; color: #CECECE; font-size: 16px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Incubadoras</div>
                        </div>
                      </div>
                      <div style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50); border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                        <img style="width: 250px; height: 250px; padding: 10px" src="https://via.placeholder.com/250x250" />
                        <div style="align-self: stretch; height: 60px; padding: 10px; background: #202E37; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
                          <div style="width: 38.82px; height: 30px; position: relative">
                            <div style="width: 38.82px; height: 30px; left: 0px; top: 0px; position: absolute; background: #CECECE"></div>
                          </div>
                          <div style="text-align: center; color: #CECECE; font-size: 16px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Clubes</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="align-self: stretch; height: 160px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; background: #202E37; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 24px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
                      <div style="width: 95px; text-align: center; color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Redes sociales</div>
                      <div style="align-self: stretch; height: 0px; border: 3px #27929E solid"></div>
                    </div>
                    <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                      <div style="width: 25px; height: 25px; position: relative">
                        <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #9C9C9C"></div>
                      </div>
                      <div style="width: 25px; height: 25px; position: relative">
                        <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #9C9C9C"></div>
                      </div>
                      <div style="width: 32.14px; height: 25px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 32.14px; height: 25px; position: relative">
                          <div style="width: 32.14px; height: 25px; left: 0px; top: 0px; position: absolute">
                            <div style="width: 32.14px; height: 25px; left: 0px; top: 0px; position: absolute; background: white"></div>
                            <div style="width: 10.71px; height: 12.50px; left: 12.50px; top: 6.25px; position: absolute; background: black"></div>
                          </div>
                          <div style="width: 42.86px; height: 42.86px; left: -5.36px; top: -8.93px; position: absolute; background: #9C9C9C"></div>
                        </div>
                      </div>
                      <div style="width: 25px; height: 25px; position: relative">
                        <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #9C9C9C"></div>
                      </div>
                    </div>
                  </div>
                  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 24px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
                      <div style="text-align: center; color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Dirección y contacto</div>
                      <div style="align-self: stretch; height: 0px; border: 3px #27929E solid"></div>
                    </div>
                    <div style="align-self: stretch; height: 64px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Calle Antisana y Av. Universitaria</div>
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">info@upec.edu.ec</div>
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">(06) 2980 837 - 2984 435</div>
                    </div>
                  </div>
                  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div style="align-self: stretch; height: 24px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
                      <div style="text-align: center; color: #CECECE; font-size: 14px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Desarrolladores</div>
                      <div style="align-self: stretch; height: 0px; border: 3px #27929E solid"></div>
                    </div>
                    <div style="align-self: stretch; height: 88px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">John Cortés</div>
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Angelo Benavides</div>
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Geovanny Basantes</div>
                      <div style="color: #9C9C9C; font-size: 14px; font-family: Roboto; font-weight: 300; word-wrap: break-word">Luis Alpala</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>