{% extends 'base.html' %}
{% load static %}

{% block title %}Orígenes - OTT{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Orígenes del OTT</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">Historia</h5>
                    <p>Contenido sobre la historia del OTT...</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">Misión y Visión</h5>
                    <p>Contenido sobre la misión y visión del OTT...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="mb-4">Objetivos</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <i class="simple-icon-check mr-2"></i>
                                    Objetivo 1
                                </li>
                                <li class="mb-3">
                                    <i class="simple-icon-check mr-2"></i>
                                    Objetivo 2
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}