{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Casos de Éxito</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2">
            <!-- Grid de casos de éxito -->
            <div class="row">
                <!-- Aquí irán las tarjetas de casos de éxito -->
                <!-- Cada tarjeta tendrá una imagen, título, descripción breve y enlace a más detalles -->
            </div>
        </div>
    </div>
</div>
{% endblock %}