{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Contacto</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2">
            <div class="row">
                <!-- Información de contacto -->
                <div class="col-12 col-md-6 mb-4">
                    <h2>Información de Contacto</h2>
                    <div class="contact-info">
                        <!-- Aquí irá la información de contacto -->
                    </div>
                </div>
                
                <!-- Formulario de contacto -->
                <div class="col-12 col-md-6">
                    <h2>Envíanos un Mensaje</h2>
                    <form class="contact-form">
                        <!-- Aquí irá el formulario de contacto -->
                    </form>
                </div>
            </div>
            
            <!-- Mapa de ubicación -->
            <div class="row mt-5">
                <div class="col-12">
                    <h2>Ubicación</h2>
                    <div class="map-container">
                        <!-- Aquí irá el mapa -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}