{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Incubadora de Empresas UPEC</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2">
            <!-- Sección de navegación principal -->
            <div class="row mb-5">
                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'incubadora_presentacion' %}" class="card">
                        <div class="card-body text-center">
                            <i class="simple-icon-info icon-xlarge mb-3"></i>
                            <h5>Presentación</h5>
                            <p>Conoce nuestra misión, visión, objetivos y equipo</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'incubadora_proceso' %}" class="card">
                        <div class="card-body text-center">
                            <i class="simple-icon-graph icon-xlarge mb-3"></i>
                            <h5>Proceso</h5>
                            <p>Descubre nuestras etapas de incubación y realiza tu diagnóstico</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'incubadora_servicios' %}" class="card">
                        <div class="card-body text-center">
                            <i class="simple-icon-rocket icon-xlarge mb-3"></i>
                            <h5>Servicios</h5>
                            <p>Explora nuestros reportes y recursos disponibles</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'incubadora_casos_exito' %}" class="card">
                        <div class="card-body text-center">
                            <i class="simple-icon-star icon-xlarge mb-3"></i>
                            <h5>Casos de Éxito</h5>
                            <p>Conoce los proyectos exitosos de nuestra incubadora</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-12 col-md-4 mb-4">
                    <a href="{% url 'incubadora_contacto' %}" class="card">
                        <div class="card-body text-center">
                            <i class="simple-icon-envelope icon-xlarge mb-3"></i>
                            <h5>Contacto</h5>
                            <p>Ponte en contacto con nuestro equipo</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}