{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <h1>Incubación: Del Concepto a la Acción</h1>
                <h2>Acompañamiento en el desarrollo del producto o servicio</h2>
            </div>
            <div class="mb-2">
                <a class="btn pt-0 pl-0 d-inline-block d-md-none" data-toggle="collapse" href="#displayOptions"
                    role="button" aria-expanded="true" aria-controls="displayOptions">
                    Display Options
                    <i class="simple-icon-arrow-down align-middle"></i>
                </a>
            </div>
            <div class="separator mb-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" id="accordion">

            <div class="card d-flex mb-1">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Acompañamiento en el Desarrollo
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>1. Desarrollo del Producto o Servicio</strong></p>
                        <p>
                            Te acompañamos en el proceso de desarrollo de tu producto o servicio, desde la idea inicial hasta la creación de un prototipo funcional.
                        </p>
                        <br />
                        <p><strong>2. Validación de Mercado y Pruebas Piloto</strong></p>
                        <p>
                            Realiza pruebas piloto y valida tu producto en el mercado. Recibe retroalimentación valiosa para mejorar y ajustar tu oferta.
                        </p>
                        <br />
                        <p><strong>3. Mentoría Personalizada</strong></p>
                        <p>
                            Accede a mentoría personalizada con expertos sectoriales que te guiarán en cada etapa del desarrollo de tu negocio.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-1">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Aceleración: Del Producto al Mercado
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>1. Acceso a Redes de Financiación e Inversión</strong></p>
                        <p>
                            Conéctate con redes de financiación e inversión para obtener los recursos necesarios para escalar tu negocio.
                        </p>
                        <br />
                        <p><strong>2. Estrategias para Escalabilidad y Crecimiento</strong></p>
                        <p>
                            Desarrolla estrategias efectivas para escalar tu negocio y lograr un crecimiento sostenible.
                        </p>
                        <br />
                        <p><strong>3. Internacionalización y Expansión de Mercados</strong></p>
                        <p>
                            Explora oportunidades de internacionalización y expansión a nuevos mercados.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card d-flex mb-1">
                <div class="d-flex flex-grow-1 min-width-zero" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <button class="card-body btn btn-empty list-item-heading text-left text-one">
                        Inspiración y Comunidad
                    </button>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body accordion-content">
                        <p><strong>1. Historias de Éxito</strong></p>
                        <p>
                            Conoce historias de éxito de emprendedores y startups incubadas. Aprende de sus experiencias y lecciones.
                        </p>
                        <br />
                        <p><strong>2. Testimonios de Emprendedores</strong></p>
                        <p>
                            Escucha testimonios de emprendedores que han pasado por el proceso de incubación y han logrado el éxito en sus industrias.
                        </p>
                        <br />
                        <p><strong>3. Red de Emprendedores</strong></p>
                        <p>
                            Únete a una red de emprendedores y mentores. Participa en espacios de networking y foros para compartir ideas y colaborar.
                        </p>
                        <br />
                        <p><strong>4. Tendencias en Innovación</strong></p>
                        <p>
                            Mantente al día con las últimas tendencias en innovación y emprendimiento. Accede a publicaciones y blogs sobre startups e innovación tecnológica.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<!-- Scripts específicos para la página de inicio si son necesarios -->
{% endblock %}