{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Presentación</h1>
            <div class="separator mb-5"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2">
            <h2>Misión</h2>
            <!-- Contenido de la misión -->
            
            <h2>Visión</h2>
            <!-- Contenido de la visión -->
            
            <h2>Objetivos</h2>
            <!-- Contenido de los objetivos -->
            
            <h2>Equipo</h2>
            <!-- Contenido del equipo -->
        </div>
    </div>
</div>
{% endblock %}